.container {
  display: grid;
  grid-auto-columns: auto;
  align-items: center;
  font-size: 1rem;
  margin: 25px;
  width: auto;
  height: 100%;
};

.checkbox {
  height: fit-content;
  width: 50px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: center;
}
